/*navigation*/
#navbar {
    flex-direction: column;
}

/*Home Section*/

#home {
    height: 370px;


}

#home h1 {
    font-size: 3rem;
}

#home ::before {
    height: 480px;

}

#home p {
    font-size: 13px;
}

/* services section */
#services {
    flex-direction: column;
}

/* clients section */



/* contact us section */


/* footer  */