* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}


#logo {
    margin: 11px 47px;

}

#logo img {
    height: 90px;
    margin: -2px 4px;
}

#navbar ul {
    display: flex;
    font-style: italic;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 11px 10px;
    border-radius: 22px;
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
}

#navbar ul li a:hover {
    color: rgb(4, 4, 3);
    background-color: white;
}


#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 560px;
    justify-content: center;
    align-items: center;
}

#home::before {

    content: "";
    position: absolute;
    background: url('photos/bg3.jpg') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}

#home h1 {
    color: rgb(27, 27, 21);
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}

#home p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
}

/* Servies section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 21px;
    margin: -7px 3px;
    border-radius: 28px;
    background: rgb(196, 192, 188);
    margin-bottom: 25px;
}

#services .box img {
    height: 291px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('photos/bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
}

#contact {
    position: relative;
}

#contant::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url('https://commons.wikimedia.org/wiki/File:Noblackout.gif');
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

.submit input {
    background-color: rgb(208, 230, 206);
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

footer {
    background: rgb(170, 171, 170);
    color: white;
    padding: 9px 20px;
}

.h-primary {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Lobster', cursive;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(159, 63, 63);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}


@media only screen and (max-width: 1170px) {

    #navbar {
        flex-direction: column;
    }

    #home {
        height: 613px;
    }

    .h-primary {
        font-size: 32px;
    }

    .copyright {
        font-size: 20px;
    }

    #home h1 {
        font-size: 35px;
    }

    #home ::before {
        height: 480px;

    }

    #home p {

        font-size: 17px;
        color: #a8f50a;
    }

    #services .box img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #services {
        flex-direction: column;
    }

    #clients {
        display: flex;
        flex-wrap: wrap;
    }

    .client-item img {
        height: auto;
    }

    .nav-list {
        flex-direction: column;
    }

    .navbar-list {
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 70px;
    }

    .v-class-resp {
        opacity: 0;
    }


    #navbar ul li a {
        margin: auto;
        text-align: center;
    }
}